.StudentCardTagForm__Container {
    margin-bottom: 12px;
}

.StudentCardTagFormInput {
    font-family: 'Raleway Regular';
    outline: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
    margin-top: 12px;
    border: 0;
    border-bottom: 1px;
    border-color: gainsboro;
    border-style: solid;
}

.StudentCardTagFormInput:focus-visible {
    border-color: black;
}